@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.border{
  border: none;
  box-shadow: 0px 0px 10px 0px #080F340D;



}
.crossBorder{
 
}
.font-Raleway{
  font-family: "Raleway", sans-serif;
  
  
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
  
 
}
.interFont{
  font-family: "Inter", sans-serif;
}
.instock{
  border: 1px solid #293341
}
.borderStar{
  border: none;
  background-color:  #2933411C;
  
}
.reviewBorder{
  border: none;
  background-color:rgb(231,246,249);
  
}
.icon-container1{
  position: relative;
  overflow: hidden; 
  text-wrap: nowrap;
  transition: width 0.3s ease, left 0.3s ease; 
  width: 30px; 
  left: 0; 
}

.icon {
  transition: transform 1s ease; 
}

.icon-container1:hover {
  width: 120px; 
  left: -90px;
  overflow: hidden;
}

.icon-container1:hover .icon {
  transform: translateX(-7px); 
}

.icon-container2{
  position: relative;
  overflow: hidden; 
  
  transition: width 0.3s ease, left 0.3s ease; 
  width: 30px; 
  left: 0; 
}

.icon {
  transition: transform 1s ease; 
}

.icon-container2:hover {
  width: 60px; 
  left: -40px;
}

.icon-container2:hover .icon {
  transform: translateX(-4px); 
}

.icon-container3{
  position: relative;
  overflow: hidden; 
  transition: width 0.3s ease, left 0.3s ease; 
  width: 30px; 
  left: 0; 
}

.icon {
  transition: transform 1s ease; 
}

.icon-container3:hover {
  width: 90px; 
  left: -60px;
}

.icon-container3:hover .icon {
  transform: translateX(-5px); 
}

.icon-container1 p,
.icon-container2 p,
.icon-container3 p {
  display: none;; 
}

.icon-container1:hover p,
.icon-container2:hover p,
.icon-container3:hover p {
  display: inline-block; 
}

.icon-container1:hover .icon {
  fill: rgb(9, 157, 189, 0.8); 
}


.btn {
  background-color: transparent;
  position: relative;
  font-size: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;

  
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-weight: 300;
  transition: all 250ms ease-in-out;
  
  span {
    position: relative;
    z-index: 1;
    
  }
    
  &:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    content: '';
    border-color: rgb(9,157,189);
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transform-origin: center center;
    transition: all .5s ease;
    box-sizing: border-box;
    box-shadow: 0 0 0 0 rgba(9, 157, 189, 0.7); 
  }

  &:hover {
    color: white;
    border: none;

    &:before {
      border-width: 100px;
      box-shadow: 0 0 0 100px rgba(9, 157, 189, 0); 
    }
  }
}

.btn1 {
  background-color: rgba(9, 157, 189, 0.7);
  position: relative;
  font-size: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;

  
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-weight: 300;
  transition: all 250ms ease-in-out;
  
  span {
    position: relative;
    z-index: 1;
    color: white;
  }
    
  &:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    content: '';
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transform-origin: center center;
    transition: all .5s ease;
    box-sizing: border-box;
    box-shadow: 0 0 0 0 black; 
  }

  &:hover {
    color: whit;
    border: none;

    &:before {
      border-width: 100px;
      box-shadow: 0 0 0 100px rgba(9, 157, 189, 0); 
    }
  }
}
.addpara{
  text-wrap: nowrap;
}

/* .imageFocus :focus {
  outline-color: aqua;
  height: 112px;
  width: 100px;
} */
.imageFocus1:hover {
  outline-color:  #099DBD;
  outline-style: solid; 
  outline-width: 2px; 
  padding: auto;
  
}
.imageFocus2:hover {
  outline-color: #099DBD;
  outline-style: solid; 
  outline-width: 2px; 
  padding: auto;
}
.imageFocus3:hover {
  outline-color: #099DBD;
  outline-style: solid; 
  outline-width: 2px; 
  padding: auto;
}
.imageFocus4:hover {
  outline-color: #099DBD;
  outline-style: solid; 
  outline-width: 2px;
  padding: auto; 
}
.borderPage2{
  border: none;
  box-shadow: 0px 0px 8.2px 0px #080F340D;

}
.border8{
  border: none;
  box-shadow: 1px 1px 16px 0px #080F340D;

}
.border8:hover{
  box-shadow: 1px 1px 16px 0px #099DBD26;

}


.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 70px;
  height: 20px;
  
}

.SliderTrack {
  background-color: #E6EAEEB2  ;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: #293341;
  
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  /* background-color: white; */
  box-shadow: 0 2px 10px var(--black-a7);
  border-radius: 10px;
  visibility: none;
}
.SliderThumb:hover {
  background-color: var(--violet-3);
}
.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--black-a8);
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}


.borderWrite{
  box-shadow: 0px 0px 10px 0px #080F340D;

}
.borderTogether{
  box-shadow: 0px 0px 10px 0px #080F340D;

}
.checkInput{
  border-color: #293341;
}
.checkInput:checked {
  
  background-color: #099DBD; 
}
